* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(255, 111, 0, 0.736);
}

img {
  width: 400px;
  display: inline-block;
  vertical-align: top;
}

ul {
  list-style: none;
}

h1 {
  color: rgb(68, 24, 5);
  margin-top: 0;
}

p {
  margin-bottom: 20px;
}

.recipe-card {
  width: 800px;
  background-color: rgb(239, 114, 60);
  margin: 20px auto;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}

.recipe-content {
  padding: 20px;
  display: inline-block;
  width: 580px;
  vertical-align: top;
}

.recipe-card h2,
.recipe-card a {
  text-transform: uppercase;
}

.recipe-card.feature {
  border: 2px solid rgb(172, 53, 53);
}

ul li {
  display: inline-block;
  margin-right: 10px;
}

ol li {
  display: inline-block;
  margin-right: 10px;
}

ul li h2 {
  font-size: 16px;
}

.recipe-card a {
  background-color: #fc9400;
    color: #fff;
    text-decoration: none;
    padding: 10px 12px;
    display: inline-block;
    vertical-align: top;
}

.recipe-info {
  display: inline-block;
  width: 380px;
}