* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 500px;
  margin: 0 auto;
}

.recipe {
  background-color: black;
  color:rgb(122, 214, 73);
}

h1 {
  /* display: inline-block; */
  text-align: center;
  padding: 10px 15px;
  margin-top: 0 auto;

}

ul {
  text-align: center;
  list-style: none;
}