* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(240, 178, 178);
}

.recipe {
  background-color: black;
  color:rgb(212, 22, 22);
}

.recipe-card {
  width: 1000px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  margin: 20px auto;
  padding: 20px;
  border: 2px solid black;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}

h1 {
  /* display: inline-block; */
  /* text-align: center;
  padding: 10px 15px;
  margin-top: 0 auto; */

}

ul {
  /* text-align: center; */
  list-style: none;
}