* {
  line-height: 1.5;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(203, 98, 98);
}

img {
  width: 700px;
}

ul {
  list-style: none;
}

h1 {
  color: rgb(0, 0, 0);
}

p {
  margin-bottom: 20px;
}

.recipe-card {
  width: 1000px;
  text-align: center;
  background-color: white;
  margin: 20px auto;
  padding: 50px;
  border: 2px solid black;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, .5); 
}

.recipe-content {
  text-align: left;
  padding: 20px;
}

.recipe-card h2, 
.recipe-card h1,
.recipe-card h3 {
  text-transform: uppercase;
}

.steps-container {
  margin-top: 30px
}

h3 {
  margin-bottom: 20px;
}

ul li h2 {
  font-size: 10px;
}